<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
</head>

<body>
  <form id="myform" >
    <input type="text" name="a"></input>
    <input type="button" value="提交" id="submit"/>
  </form>

  <script>
    $(function(){
      $('#submit').click(function(){
        $.post("{:url('index/test1')}");
      })
    })


  </script>

</body>

</html>