{extend name="public/base" /}

{block name="seo"}
<title>添加权限节点 - 管理员管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>

<body>
	{/block}
	{block name="header"}
	{/block}
	{block name="menu"}
	{/block}
	{block name="content"}
	<article class="cl pd-20">
		<form action="" method="post" class="form form-horizontal" id="form-permission-edit">
			<input type="hidden" value="{$rule.id}" name="id"/>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限名称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$rule.title}" placeholder="" id="title" name="title">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>规则：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" autocomplete="off" value="{$rule.name}" placeholder="规则:控制器-操作" id="name"
						name="name">
				</div>
			</div>	
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</div>
			</div>
		</form>
	</article>
	{/block}

	{block name="js"}
	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript">
		$(function () {
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});

			
			$.validator.addMethod("noSpace", function(value, element) {  
				var checkCode = /\s/;
				return  !checkCode.test(value);  
			},"内容不能有空格");

			$.validator.addMethod("checkRule", function(value, element) {  
				var checkCode = /^\S+-\S+/;
				return  checkCode.test(value);  
			},"规则必须格式为：XXX-XXX");

			$("#form-permission-edit").validate({				
				debug: true,
				rules: {
					title: {
						required: true,
						noSpace:true,
					},
					name: {
						required: true,
						noSpace:true,
						checkRule:true,
					},
				},	
				onkeyup: false,
				focusCleanup: true,
				success: "valid",
				submitHandler: function (form) {
					$.post("{:url('permission/editPermission')}", $('#form-permission-edit').serialize(), function (data) {
						if (data.status === 0) {
							layer.msg(data.message, {
								icon: 2,
								titme: 1000
							})
						} else {
							layer.msg(data.message, {
								icon: 1,
								time: 1000 //2秒关闭（如果不配置，默认是3秒）
							}, function () {
								var index = parent.layer.getFrameIndex(window.name);
								parent.location.reload();
								parent.layer.close(index);
							})
						}
					}).error(function () {
						layer.msg('更新失败', {
							icon: 2,
							time: 1000 //2秒关闭（如果不配置，默认是3秒）
						}, function () {
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
							parent.layer.close(index);
						})
					})
				}
			});
		});
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
	{/block}
</body>

</html>